.navigation {
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.5px solid#000000a6;
}

.list {
  width: 256px;
  display: flex;
  flex-direction: column;
  list-style: none;
  line-height: 1.5;
}

.link {
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 14px;
  outline: none;
  margin-bottom: 0;
}

.link:hover .linkNav {
  color: #3cb833;
}

.linkNav {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000000a6;
  padding: 15px 24px;
  border-right: 0px;
  transition-property: color, border-right;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.active {
  color: #3cb833;
  border-right: 4px solid #57dd49;
  background-color: rgba(87, 221, 73, 0.1);
}

.btn {
  padding: 0;
  border: none;
  outline: none;
  text-align: left;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.settings span,
.settings button {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000000a6;
  padding: 15px 24px;
  border-right: 0px;
  transition-property: color, border-right;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.settings span:hover,
.settings button:hover {
  color: #3cb833;
}
